<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AjoutProjetServlet</servlet-name>
    <servlet-class>AjoutProjetServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MAJBDServlet</servlet-name>
    <servlet-class>MAJBDServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreerSuperviseurServlet</servlet-name>
    <servlet-class>CreerSuperviseurServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreerCDPServlet</servlet-name>
    <servlet-class>CreerCDPServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MAJBDFicLocalServlet</servlet-name>
    <servlet-class>MAJBDFicLocalServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreerMessageServlet</servlet-name>
    <servlet-class>CreerMessageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GestionCDPServlet</servlet-name>
    <servlet-class>GestionCDPServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MAJFichierServlet</servlet-name>
    <servlet-class>MAJFichierServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CreerUnMessageServlet</servlet-name>
    <servlet-class>CreerUnMessageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MAJBDCDP</servlet-name>
    <servlet-class>MAJBDCDP</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SupprimerUnMessageServlet</servlet-name>
    <servlet-class>SupprimerUnMessageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InfosBDServlet</servlet-name>
    <servlet-class>InfosBDServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TestConnexionServlet</servlet-name>
    <servlet-class>TestConnexionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>MAJBDSeuil</servlet-name>
    <servlet-class>MAJBDSeuil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AjoutProjetServlet</servlet-name>
    <url-pattern>/AjoutProjetServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MAJBDServlet</servlet-name>
    <url-pattern>/MAJBDServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreerSuperviseurServlet</servlet-name>
    <url-pattern>/CreerSuperviseurServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreerCDPServlet</servlet-name>
    <url-pattern>/CreerCDPServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MAJBDFicLocalServlet</servlet-name>
    <url-pattern>/MAJBDFicLocalServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GestionCDPServlet</servlet-name>
    <url-pattern>/GestionCDPServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MAJFichierServlet</servlet-name>
    <url-pattern>/MAJFichierServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CreerUnMessageServlet</servlet-name>
    <url-pattern>/CreerUnMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MAJBDCDP</servlet-name>
    <url-pattern>/MAJBDCDP</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SupprimerUnMessageServlet</servlet-name>
    <url-pattern>/SupprimerUnMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InfosBDServlet</servlet-name>
    <url-pattern>/InfosBDServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TestConnexionServlet</servlet-name>
    <url-pattern>/TestConnexionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MAJBDSeuil</servlet-name>
    <url-pattern>/MAJBDSeuil</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>
            30
        </session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>
            index.jsp
        </welcome-file>
    <welcome-file>
            index.html
        </welcome-file>
    <welcome-file>
            index.htm
        </welcome-file>
  </welcome-file-list>
</web-app>
